Json Schema reference name doesn't understand "(" and ")"

I currently need to use parentheses in the schema reference, unfortunately it seems that the reference path doesn't understand parentheses correctly.

Json Schema example:
```{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "definitions": {
    "ref(01)": {
      "type": "object",
      "properties": {
        "hole": { "type": "string" }
      },
      "required": ["hole"]
    }
  },
  "type": "object",
  "properties": {
    "key(01)": { "$ref": "#/definitions/ref(01)" }
  }
}
```

Json document:
```{
  "key(01)": {
    "hole2": "Match"
  }
}
```

The above example is valid if using [schemavalidator example](https://github.com/miloyip/rapidjson/blob/master/example/schemavalidator/schemavalidator.cpp).
`Output:
Input JSON is valid.` 

But changing "ref(01)" to e.g. "ref_01" in the json schema, the expected error output will be provided by the schemavalidator.
```Output:
Input JSON is invalid.
Invalid schema: #/definitions/ref_01
Invalid keyword: required
Invalid document: #/key%2801%29
```



I haven't tested your example. But I think the problem is that, when representing JSON pointer in JSON, you need to escape some characters as stated in [RFC 6901](https://tools.ietf.org/html/rfc6901):

> 6.  URI Fragment Identifier Representation
>
> A JSON Pointer can be represented in a URI fragment identifier by
   encoding it into octets using UTF-8 [RFC3629], while percent-encoding
   those characters not allowed by the fragment rule in [RFC3986].
>
> Note that a given media type needs to specify JSON Pointer as its
   fragment identifier syntax explicitly (usually, in its registration
   [RFC6838]).  That is, just because a document is JSON does not imply
   that JSON Pointer can be used as its fragment identifier syntax.  In
   particular, the fragment identifier syntax for application/json is
   not JSON Pointer.

You can try changing `"#/definitions/ref(01)"` to ` "#/definitions/ref%2801%29"`.